-unless user_signed_in?
  %li
    = link_to('Iniciar Sesión', new_user_session_path)
  %li
    = link_to user_omniauth_path(:facebook) do
      %span.glyphicon.glyphicon-facebook
      Login con Facebook
