-if user_signed_in?
  %li
    = link_to(destroy_user_session_path) do
      %span{:class => 'label important'}
        Cerrar sesión
-else
  %li
    = link_to('Ingresar', new_user_session_path)
  %li
    = link_to user_omniauth_path(:facebook) do
      = image_tag 'fb-login.jpg'
