- if user_signed_in?
  %li.menu
    %a.menu{:href=>'#'}
      %span.user
        %span.avatar= image_tag gravatar_url_for(current_user)
        %span.alias= current_user.alias
    =render 'layouts/menus/user'
-else
  %li
    = link_to('Registrarse', new_user_registration_path)
