-if user_signed_in?
  %li.current-user-avatar
    %img{ :src => gravatar_url_for(current_user), :width => 32, :height => 32 }
  %li
    = link_to(current_user.email, edit_user_registration_path)
-else
  %li
    = link_to('Registrarse', new_user_registration_path)
