- if user_signed_in?
  %li.dropdown
    %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
      = current_user.alias
      %span.caret
    %ul{:class => 'dropdown-menu'}
      =render 'layouts/menus/user_items'
  %li
    %span.user
      %span.avatar= image_tag current_user.profile_picture_url
-else
  %li
    = link_to('Registrate', new_user_registration_path)
