- if user_signed_in?
  %li.menu
    %a.menu{:href=>'#'}
      %span.user
        %span.avatar= image_tag current_user.profile_picture_url
        %span.alias= current_user.alias
    %ul.menu-dropdown
      =render 'layouts/menus/user_items'
-else
  %li
    = link_to('Registrate', new_user_registration_path)
