.audio
  = render 'audios/player', :url => audio.url, :id => audio.id
  .downloads.well
    Descargar MP3:
    %span.direct=link_to "Descarga Directa", audio.url
    %span.torrent
      =link_to ".torrent", audio.torrent_url
      %small= link_to "¿Qué es esto?", '/articles/descargas#torrent'
