<div class="player-audio">
    <audio controls="controls" id="player_<%= id %>" preload="none">
        <source src="<%= url %>" type="audio/mpeg">
        <embed autostart="false" controller="true" height="40" loop="false" src="<%= url %>" type="audio/mp3" width="400"></embed>
    </audio>
</div>