.player-audio
  %audio{ preload: "none", controls: "controls", id: "player_#{id}"}
    %source{ src: "#{url}", type: "audio/mpeg" }
    %embed{ src: "#{url}", type: "audio/mp3", height: "40", width: "400", autostart: "false", loop: "false", controller: "true" }
