- page_title "Escuchando #{@audio.post_title}"
- meta_description "Audio de #{@audio.post_title}"

.row
  #content.col-md-6

    %h3.title
      = link_to @audio.post_title, @audio.post, :target => '_opener'

    =render @audio