!!!
%html
  %head
  %meta{ :'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8" }

%body
  %p
    Hay una nueva contribución de #{link_to @post.contributor.alias, user_url(@post.contributor)} para moderar:
  %p
    = link_to @post.title, post_url(@post)
  %p
    = link_to "Ver Pendientes", admin_posts_url(:has_status => 'pending')
