%li= link_to "El Proyecto", "/articles/el-proyecto"
%li= link_to "Participá", "/articles/participa"
%li= link_to "Software Libre", "/articles/software-libre"
%li= link_to "Créditos", "/articles/créditos"
