%li=link_to 'Home', :root
%li=link_to 'Programas Recientes', posts_path
%li=link_to 'Acerca de este sitio', article_path('acerca-de-este-sitio')
-if current_user.try(:can_admin?)
  %li=link_to 'Administración', admin_dashboard_path
