#navbar.navbar-collapse.collapse
  %ul.nav.navbar-nav
    = render 'layouts/menus/main_items'
  %ul.nav.navbar-nav.pull-right
    = render 'devise/menu/registration_items'
    = render 'devise/menu/login_items'
