- if user_signed_in?
  %li
    = link_to current_user do
      %i.icon-user
      Mi Perfil
  %li
    = link_to edit_user_registration_path do
      %i.icon-wrench
      Preferencias
  %li.divider
  %li
    = link_to destroy_user_session_path do
      %i.icon-off
      Cerrar Sesión
