.row.comment
  .span1.avatar
    %img{ :src => gravatar_url_for(comment), :class => 'gravatar', :alt => comment.author }
  .span9.description
    .author
      =link_to comment.author, '#'
      dijo:
    .content
      = markdown_format comment.content
