%a{ :name => "comment#{comment.id}" }
.row.comment{ :class => "#{comment.status}"}
  .span1.avatar
    %img{ :src => gravatar_url_for(comment), :class => 'gravatar', :alt => comment.author }
  .span9.description
    %p.author
      =link_to comment.author, '#'
      %small
        hace
        =time_ago_in_words(comment.created_at)
        dijo:
    .content
      = markdown_format comment.content
    %p.meta
      - if comment.status == 'pending'
        %span.pending Aguardando moderación
      %span.permalink=link_to "Permalink", post_comment_path(comment.post, comment)
      - if can? :update, comment
        %span.edit=link_to "Editar", edit_post_comment_path(comment.post, comment)
      - if can? :destroy, comment
        %span.delete=link_to "Eliminar", post_comment_path(comment.post, comment), :confirm => '¿Estás seguro?', :method => :delete
