.row.comment-form
  .span1.avatar
    %img{ :src => gravatar_url_for(current_user, :s => 40), :class => 'gravatar' }
  .span8.description
    = form_for [post, comment], :html => { :class => 'form-stacked' } do |f|
      .clearfix
        .input
          = f.text_area :content, :rows => 5
      .actions
        = f.submit 'Publicar', :class => 'btn primary'
