.row.comment-form
  .col-md-1.avatar
    %img.img-rounded{ :src => current_user.profile_picture_url, :alt => current_user.alias }
  .col-md-8.description
    = form_for [post, comment], :remote => true do |f|
      .form-group
        = f.text_area :content, :rows => 5, :placeholder => "Escribí un comentario", class: 'form-control'
      .form-group
        = f.submit 'Publicar', :class => 'btn btn-primary', :disable_with => 'Publicando...'
        %p.comment-help
          ¿No sabés cómo agregar una imagen a tu cuenta?
          ¿Tenés problemas con el player? Consultá la página de
          =link_to 'Ayuda.', article_path('ayuda')
