<% if resource.errors.any? %>
  <div class="content">
    <div class="notification is-danger">
      Se produjo el siguiente error:
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
