<% page_title("Editando Artículo") %>
<h2 class="title fancy is-4">Administración de Artículos</h2>
<h3 class="title"><%= html_page_title %></h3>
<div class="actions">
  <%= link_to "Ver Artículo", @article, target: '_blank', class: "button is-light" %>
</div>
<br />

<%= render 'form', article: @article %>
