- page_title("Editando Artículo")

.ribbon Administración de Artículos

%h2.title
  Editando Artículo ##{@article.id}
  %small= link_to "Ver original", @article, :target => '_blank'

= render 'form', :article => @article
