- page_title("Editando Artículo")

.fancy Administración de Artículos

%h2.title
  Editando Artículo ##{@article.id}
  
.actions
  = link_to @article, :target => '_blank' do
    %i.icon-book
    Artículo

= render 'form', :article => @article