- page_title("Listado de Artículos")

%h2.fancy-title Administración de Artículos

= render 'pills'

- if @articles.empty?
  %p No se han encontrado artículos
-else
  %table
    %thead
      %tr
        %th #
        %th Título
        %th
    %tbody
      - @articles.each do |article|
        %tr
          %td= article.id
          %td= article.title
          %td
            =link_to "Permalink", article
            =link_to "Editar", edit_admin_article_path(article)
            =link_to "Eliminar", admin_article_path(article), :method => :delete, :confirm => "¿Estás seguro?"

  = paginate @articles
