- page_title("Listado de Artículos")

.ribbon Administración de Artículos

%h2.title= html_page_title

- if @articles.empty?
  %p No se han encontrado artículos
-else
  %table
    %thead
      %tr
        %th #
        %th Título
        %th
    %tbody
      - @articles.each do |article|
        %tr
          %td= article.id
          %td= article.title
          %td
            =link_to "Permalink", article, :target => '_blank'
            =link_to "Editar", edit_admin_article_path(article)
            =link_to "Eliminar", admin_article_path(article), :method => :delete, :data => { :confirm => "¿Estás seguro?" }

  = paginate @articles
