%article.article

  -if current_page?(article)
    %h1.title
      = link_to article.title, article
  -else
    %h3.title
      = link_to article.title, article
      
  .content
    = markdown_format article.content, :filter_html => false
  
  - if can? :update, article
    .actions
      %span.edit
        %i.icon-edit
        = link_to "Editar", edit_admin_article_path(article)
