!!!
%html
  %head
  %meta{ :'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8" }

%body
  %p
    Hay un nuevo comentario para moderar:
  %p
    = link_to @comment.author, user_url(@comment.user)
    en #{link_to @comment.post_title, post_url(@comment.post)} dijo:
  %p
    = @comment.content
  %p
    %span.approve=link_to "Aprobar", approve_admin_comment_url(@comment)
    %span.delete=link_to "Eliminar", trash_admin_comment_url(@comment)
