.row.user
  .span2.avatar
    %img{ :src => gravatar_url_for(user, :s => 100), :class => 'gravatar', :alt => user.alias }
  .span8.info
    %h3.title
      = link_to user.alias, user
      %small= user.role
    %p En Venganzas del Pasado desde hace #{time_ago_in_words(user.created_at)}
