- if params[:page].nil?
  - page_title("Usuarios")
- else
  - page_title("Usuarios <small>Página #{params[:page]}</small>")

%h2.fancy-title!= html_page_title

.posts
  = render @users

= paginate @users, :window => 2
