.socialite.facebook-likebox{ 'data-href' => 'https://www.facebook.com/VenganzasDelPasado', 'data-width' => 231, 'data-height' => 440, 'data-show-faces' => 'true', 'data-stream' => 'false', 'data-header' => 'false' }
  = link_to 'https://www.facebook.com/VenganzasDelPasado', :class => 'btn btn-link' do
    %i.glyphicon-facebook
    \/VenganzasDelPasado
    