.socialite.twitter-timeline{ 'data-link-color' => "3d65145", 'data-widget-id' => "255493604108271618" }
  =link_to "https://twitter.com/venganzaspasado", :class=> 'btn btn-link' do
    %i.glyphicon-twitter
    @venganzaspasado
