- page_title(nil)

.ribbon
  Programas Recientes

.posts
  =render @posts
  %p
    =link_to "Ver todos los programas", :posts

=render 'layouts/banners/b468x60'

.ribbon
  ¡Necesitamos tu ayuda!
%p
  Con tu colaboración podemos hacer que el contenido se enriquezca. Hay dos formas de participar: enviando comentarios a cada post o registrándote como usuario y editando los post. Entre todos podemos hacer un sitio que nos permita saber de qué se habló en <em>La Venganza será Terrible</em>.
%p
  =link_to "Más información", article_path('acerca-de-este-sitio')

=#render 'layouts/banners/b468x60'

.ribbon
  Comentarios Recientes

.comments
  =render @comments
