<% page_title("Editando Post") %>
<h2 class="title fancy is-4">Administración de Posts</h2>
<h3 class="title"><%= html_page_title %></h3>

<div class="actions">
  <span class="tag is-warning"><%= @post.status.capitalize %></span>
  <%= link_to "Ver Post", @post, :target => '_blank', class: "button is-light" %>
</div>
<br />
<%= render 'form', :post => @post %>
