- page_title("Editando Post")

.fancy Administración de Posts

%h2.title
  Editando Post ##{@post.id}

.actions
  %span.label{ :class => "post-status-#{@post.status}"}= @post.status.capitalize

  = link_to @post, :target => '_blank' do
    %span.glyphicon.glyphicon-file
    Ver Post

= render 'form', :post => @post
