- page_title("Editando Post")

.ribbon Administración de Posts

= render 'pills'

%h2.title
  Editando Post ##{@article.id}
  %small= link_to "Ver original", @article, :target => '_blank'

= render 'form', :post => @post
