%header#header.internal
  .container
    .row
      .span4.title-container
        %span
          =link_to "Venganzas del Pasado", :root
      .span10.slogan
        %p
          Encontrá todos los archivos de audio en MP3 del programa de radio <em>La Venganza Será Terrible</em> de <strong>Alejandro Dolina</strong>
  