<% page_title("Dashboard") %>

<h2 class="title fancy is-4">Administración</h2>
<h3 class="title is-3"><%= html_page_title %></h3>

<p><em>
And a lean, silent figure slowly fades into the gathering darkness, aware at last that in this world, with great power there must also come -- great responsibility!
</em></p>