- page_title("Dashboard")

.fancy Administración
%h2.title= html_page_title

%p
  %em
    And a lean, silent figure slowly fades into the gathering darkness, aware at last that in this world, with great power there must also come -- great responsibility!
