/*
 * Skin for jPlayer Plugin (jQuery JavaScript Library)
 * http://www.happyworm.com/jquery/jplayer
 *
 * Skin Name: VdP
 *
 * Base on: Black and yellow skin
 *          Author: Luke McDonald (lukemcdonald.com)
 *          Skin Design: Orman Clark (premiumpixels.com)
 *     and: Blue Monday skin
 *          Author: Silvia Benvenuti
 */

div.jp-audio {
 font-size: 1.25em;
 font-family: Verdana, Arial, sans-serif;
 color: #fff;
 line-height: 1.6;
}

div.jp-audio {
 width: 100%;
}

div.jp-interface {
  position: relative;
  width: 100%;
  background: rgb(58,59,60);
  /*background: asset-url('jplayer-vdp.png', image) 0 -210px;*/
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(34,34,34)),
      color-stop(1, rgb(58,59,60))
  );
  background: -moz-linear-gradient(
      center bottom,
      rgb(34,34,34) 0%,
      rgb(58,59,60) 100%
  );

  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;

  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}

div.jp-audio div.jp-type-single div.jp-interface {
  height:40px;
}

/* @group CONTROLS */

div.jp-interface ul.jp-controls {
  list-style-type:none;
  margin:0;
  padding: 0;
  overflow:hidden;
}

div.jp-audio ul.jp-controls {
  padding: 5px 0px;
}

div.jp-interface ul.jp-controls li {
  display:inline;
  float: left;
}

div.jp-interface ul.jp-controls a {
  display:block;
  overflow:hidden;
  text-indent:-9999px;
}
a.jp-play,
a.jp-pause {
  width: 33px;
  height: 30px;
  z-index: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}

a.jp-play {
  background: asset-url('jplayer-vdp.png', image) 0 0 no-repeat;
}
a.jp-play:hover {
  background: asset-url('jplayer-vdp.png', image) -33px 0 no-repeat;
}
a.jp-pause {
  background: asset-url('jplayer-vdp.png', image) 0 -30px no-repeat;
  display: none;
}
a.jp-pause:hover {
  background: asset-url('jplayer-vdp.png', image) -33px -30px no-repeat;
}

/* @end */

/* @group progress bar */

div.jp-progress {
  overflow:hidden;
  background-color: $gris;
}
div.jp-audio div.jp-progress {
  position: absolute;
  top:17px;
  height:5px;
}
div.jp-audio div.jp-type-single div.jp-progress {
  left:35px;
  width:310px;
}

div.jp-seek-bar {
  position: absolute;
  width: 0px;
  cursor: pointer;
  background: $claro; /* Fondo del seek */
  height:100%;
}
div.jp-play-bar {
  position: absolute;
  width: 0px;
  cursor: pointer;
  background: $rose; /* Progreso del play */
  height:100%;
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
  background: asset-url("jplayer-seeking.gif", image);
}

/* @end */

/* @group volume controls */


a.jp-mute,
a.jp-unmute {
  width: 17px;
  height: 13px;
  z-index: 1;
  outline: none;
}

div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute {
  margin-left: 380px;
  margin-top: 8px;
}

a.jp-mute {
  background: asset-url('jplayer-vdp.png', image) -10px -68px no-repeat;
}
a.jp-mute:hover {
  background: asset-url('jplayer-vdp.png', image) -43px -68px no-repeat;
}
a.jp-unmute {
  background: asset-url('jplayer-vdp.png', image) -10px -98px no-repeat;
  display: none;
}
a.jp-unmute:hover {
  background: asset-url('jplayer-vdp.png', image) -43px -98px no-repeat;
}

div.jp-volume-bar {
  position: absolute;
  overflow: hidden;
  background: $gris; /* Fondo del volumen */
  width: 65px;
  height: 5px;
  cursor: pointer;
}

div.jp-audio div.jp-volume-bar {
  top:17px;
  left:440px;
}
div.jp-volume-bar-value {
  width: 0px;
  height: 5px;
  background: $rose; /* Marca del volumen */
}

/* @end */

/* @group current time and duration */

div.jp-audio div.jp-time-holder {
  position:absolute;
  top:11px;
}
div.jp-audio div.jp-type-single div.jp-time-holder {
  left:360px;
}

div.jp-current-time,
div.jp-duration {
  width:60px;
  font-size:.64em;
  font-style:oblique;
}
div.jp-current-time {
  float: left;
  display:inline;
}
div.jp-duration {
  float: right;
  display:inline;
  text-align: right;
}

/* @end */

div.jp-jplayer audio,
div.jp-jplayer {
  width:0px;
  height:0px;
}

div.jp-jplayer {
  background-color: #000000;
}

/* @group NO SOLUTION error feedback */

.jp-no-solution {
  position:absolute;
  width:390px;
  margin-left:-202px;
  left:50%;
  top: 10px;

  padding:5px;
  font-size:.8em;
  background-color:#eee;
  border:2px solid #009be3;
  color:#000;
  display:none;
}

.jp-no-solution a {
  color:#000;
}

.jp-no-solution span {
  font-size:1em;
  display:block;
  text-align:center;
  font-weight:bold;
}

/* @end */
