<% if params[:day].present? %>
  <% title_part = "Archivo de programas del #{params[:day]}/#{params[:month]}/#{params[:year]}" -%>
<% elsif params[:month].present? %>
  <% title_part = "Archivo de programas de #{I18n.t('date.month_names')[params[:month].to_i].capitalize} de #{params[:year]}" -%>
<% else -%>
  <% title_part = "Archivo de programas del año #{params[:year]}" -%>
<% end %>
<% if params[:page].nil? %>
  <% the_title = title_part %>
<% else %>
  <% the_title = "#{title_part}, <small>Página #{params[:page]}</small>" %>
<% end %>
<% page_title the_title %>
<% meta_description strip_tags("#{the_title} de La Venganza será Terrible") %>
<h2 class="title fancy is-4"><%= raw the_title %></h2>
<%= render 'layouts/banners/top' %>
<%= render @posts %>
<%= paginate @posts, window: 2 %>
