<% if params[:page].nil? %>
  <% the_title = "Contribuciones de Programas de La Venganza será Terrible" -%>
<% else %>
  <% the_title = "Contribuciones de Programas de La Venganza será Terrible (página #{params[:page]})" -%>
<% end %>
<% page_title the_title -%>
<% meta_description strip_tags(the_title) -%>
<h2 class="title fancy is-4"><%= the_title %></h2>
<%= render 'layouts/banners/top' %>
<%= render @posts %>
<%= paginate @posts, window: 2 %>
