- if params[:page].nil?
  - the_title = "Programas de La Venganza será Terrible de Alejandro Dolina"
- else
  - the_title = "Programas de La Venganza será Terrible de Alejandro Dolina, <small>Página #{params[:page]}</small>"
- page_title the_title
- meta_description strip_tags(the_title)

%section
  %h2.title!= html_page_title
  
  =render 'layouts/banners/b468x60'

  .posts
    = render @posts
  
  = paginate @posts, :window => 2