- if params[:page].nil?
  - page_title("Programas de La Venganza será Terrible")
- else
  - page_title("Programas de La Venganza será Terrible <small>Página #{params[:page]}</small>")

%section.posts
  %h1.ribbon!= html_page_title
  =render 'layouts/banners/b468x60'
  = render @posts

= paginate @posts, :window => 2
