- page_title("Publicá un nuevo programa")

%article

  .fancy Aportá tus propios programas grabados
  
  %h2.title= html_page_title
  
  = alert_message_for(@post)
  
  = render 'form', :post => @post