<<<<<<< HEAD
- title = "Nuevo Post"
=======
- title "Nuevo Post"
>>>>>>> upstream/master

- content_for :head do
  %title #{title} - Venganzas del Pasado

<<<<<<< HEAD
%h2.fancy-title= title

= render 'form', :post => @post
=======
%p= link_to "Volver (sin salvar)", posts_path
>>>>>>> upstream/master
