- content_for :head do
  %title="#{@post.title} - Venganzas del Pasado"

.post-show
  =render @post

%a{ :name => "comments" }
%h3 Comentarios (#{@post.comments.approved.count}):

.comments
  - if @post.comments.approved.count > 0
    =render @post.comments
  - else
    %p
      No hay comentarios.
      =link_to "Primereá", "#"
