@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-likes";

body {
  padding-top: $navbar-height;
  font-family: $defaultFontFamily;
}

.avatar img {
  height: $navbar-height;
}

.navbar-toggle {
  float: left;
  margin-left: 0.5em;
}

small {
  text-shadow: none;
}

#content {
  h2:first-child {
    margin-top: 0;
  }
}

a,
a:visited {
  color: $rose;
}

a:hover {
  color: darken($rose, 15);
}

.main {
  padding-top: $baseLineHeight;
}

.fancy {
  background: $redBackground;
  color: $white;
  text-shadow: $gris 1px 1px;
  padding: $baseLineHeight*0.25 $grid-gutter-width*0.5;
  margin-bottom: $baseLineHeight;
  font-family: $garamondFont;
  font-size: $baseFontSize*1.25;
  font-weight: normal;
  line-height: $baseLineHeight*1.25;
  border-radius: 5px;
  @include box-shadow($headerShadow);

  a {
    color: $white;
  }

  a:hover {
    color: $claro;
  }

  small {
    color: $white;
  }
}

.lead {
  font-size: $baseFontSize;
  color: lighten($gris, 20);
  font-style: italic;
  margin-bottom: 0px;
}

.title {
  font-size: $baseFontSize*2;
  font-family: $trajanFont;
  color: $rose;
  text-shadow: $gris 1px 1px;
  margin-top: 0px;
}


.actions {
  margin-bottom: $baseLineHeight*0.5;

  .label {
    margin-right: 20px;
  }
}

.nav-tabs {
  margin-bottom: 15px;
}

.glyphicon {
  color: $rose;
}

td.actions a {
  margin-right: 20px;
}

.small-inline {
  width: 15%;
  display: inline;
}

.player-audio {
  audio {
    width: 100%;
  }
}

footer {
  .date {
    margin-left: 1em;
  }
  .comments {
    margin-left: 1em;
  }
}

span.glyphicon-facebook {
  background: image-url('FB-f-Logo__blue_50.png') left top no-repeat;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: text-top;
}

span.glyphicon-twitter {
  background: image-url('twitter_logo_blue.png') left top no-repeat;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: text-top;
}

@import 'application/*';
@import 'articles';
@import 'posts';
@import 'audios';
@import 'comments';
@import 'users';
@import 'torrents';
@import 'smilies';
@import 'notify';
