@charset "utf-8";

// Update some of Bulma's component variables
$body-background-color: white;

@import "sass/utilities/_all";
@import "sass/base/_all";
@import "sass/elements/_all";
@import "sass/form/_all";
@import "sass/components/_all";
@import "sass/grid/_all";
@import "sass/layout/_all";

@import "social-likes/dist/social-likes_classic";

.header {
  background-image: image-url("redtexture.jpg");
}

.claim {
  color: black;
  font-size: 1.3em;
  strong {
    color: black;
  }
}

.header-container {
  padding: 1.2rem;
}

.subheader {
  background-color: #404040;
}

.navbar-link img {
  margin-right: 0.2rem;
  width: 28px;
}

.navbar-brand {
  font-weight: 700;
}

.footer {
  background: image-url('fondo-footer.png') no-repeat left bottom;
  background-color: #404040;
  color: white;
  min-height: 5rem;
  a {
    color: white;
  }
  h3 {
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
  }
}

.fancy {
  background-image: image-url("redtexture.jpg");
  color: whitesmoke;
  padding: 0.2em 0.2em 0.2em 0.5em;
  border-radius: 0.2em;
}

.facebook-login {
  img {
    height: 2em;
    margin: 10px;
  }
}

.post {
  padding: 1rem;
}

.post-top-header .level-right {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

audio {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.post-top-header {
  margin-bottom: 0.1rem !important;
}

.your-help {
  margin-top: 2rem;
}

.recent-comments {
  margin-top: 2rem;
}

article.comment {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.post-content {
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child),
  h4:not(:first-child),
  h6:not(:first-child) {
    margin-top: 0.1em;
    margin-bottom: 0.2em;
  }

  a[href^="#play"]::before {
    content: "[";
  }

  a[href^="#play"]::after {
    content: "]";
  }

  a[href^="#play"] {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
  }
}

.post footer {
  background-color: #CCC;
  padding: 0.3em;
  border-radius: 0.2em;
  .column {
    padding: 0.5rem;
  }
}

.title-right {
  background-color: #404040;
  color: whitesmoke;
  padding: 0.2em;
  border-radius: 0.2em;
}