/*
*= require bootstrap
*= require jplayer-skin/jplayer.blue.monday
*= require_self
*/
body {
/*  padding-top: 60px;
*/
  padding: 5px;
}

select.date {
  width: 80px;
}

label {
  margin-right: 20px;
}

.help-error {
  color: red;
  margin-left: 5px;
}