/*
*= require_self
*/

//******************************************************************************
// Paleta de Colores
//******************************************************************************
$rose: #D65045;
$gris: #404040;
$claro: #CCCCCC;


//******************************************************************************
// Sobreescribiendo Bootstrap
//******************************************************************************
@import "bootstrap/reset";
@import "bootstrap/variables";

$linkColor: $rose;
$linkColorHover: darken($rose, 15);

/* grilla de 14 en lugar de 16 */
$gridColumns: 14;
$siteWidth: ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

/* aumentando un poco*/
$basefont: 16px;
$baseline: 24px;

@import "bootstrap/mixins";

@import "bootstrap/scaffolding";

@import "bootstrap/type";
@import "bootstrap/forms";
@import "bootstrap/tables";
@import "bootstrap/patterns";

@import "jplayer-skin/jplayer.vdp";


//******************************************************************************
// General
//******************************************************************************
$defaultFontFamily: Georgia, Georgia, serif;

body {
  font-family: $defaultFontFamily;
}

small {
  text-shadow: none;
}

a:hover {
  color: darken($rose, 15);
}

.main {
  padding-top: $baseline;
}

.pagination {
  text-align: center;

  ul {
    border: none;
    @include box-shadow(none);

    li {
      a {
        border: none;
      }

      a:hover {
        background: $claro;
      }
    }

    li.active a {
      background: none;
      color: $gris;
    }
  }
}


.btn {
  font-family: $defaultFontFamily;
  @include gradientBar($claro, darken($claro, 10));

  &.primary {
    @include gradientBar($rose, darken($rose, 10));
  }
}

.field_with_errors input{
  border-color: #EE5F5B;
  color: #B94A48;
}


label {
  text-align: left;
}

fieldset {
  label {
    margin-right: 20px;
    text-align: right;
  }
}

.alert-message.block-message.error {
  background-color: lighten($rose, 40%);
  border-color: $rose;
}

.facebook-login-container {
  margin-bottom: $baseline;
  text-align: center;
}

.facebook-login-button {
  background: asset-url('signin_facebook.png', image) no-repeat;
  width: 150px;
  height: 22px;
  font-size: 0em;
  display: block;

  &:hover {
    background-position: 0 -24px;
  }

  &:active {
    background-position: 0 -48px;
  }
}

legend {
  small {
    font-size: $basefont * 0.75;
  }
}

.widget .menu-dropdown {
  display: block;
}

select, input[type=file] {
  height: 36px;
}

#post_created_at_3i {
  width: 4em;
}
#post_created_at_2i {
  width: 12em;
}
#post_created_at_1i {
  width: 6em;
}

.span9 {

  .adjusted {
    width: 470px;
  }

}


//******************************************************************************
// Títulos
//******************************************************************************

h4 {
  margin-bottom: $baseline;
}

.title {
  font-size: $basefont * 2;
  line-height: $baseline * 1.75;
  font-family: 'TrajanProRegular', serif;
  text-shadow: $claro 1px 2px;
  border-bottom: 1px $claro solid;
  margin-bottom: $baseline * 0.25;
  padding-bottom: $baseline * 0.25;
}

.ribbon {
  position: relative;
  color: #fff;
  margin: 0 $gridGutterWidth*-1 $gridGutterWidth $gridGutterWidth*-1;
  background: asset-url('redtexture.jpg', image);
  padding: $baseline*0.5 $gridGutterWidth;
  $shadow: 0 1px 3px rgba(0,0,0,1), inset 0 -1px 0 rgba(0,0,0,.1);
  @include box-shadow($shadow);
  text-shadow: $gris 1px 1px;
  font-family: 'EBGaramondRegular', serif;
  font-size: $basefont * 1.25;
  line-height: $baseline;

   &:before, &:after
    {
        content: '';
        position: absolute;
        border-style: solid;
        border-color: transparent;
        bottom: -10px;
    }

    &:before
    {
        border-width: 0 10px 10px 0;
        border-right-color: #222;
        left: 0;
    }

    &:after
    {
        border-width: 0 0 10px 10px;
        border-left-color: #222;
        right: 0;
    }
}

.fancy-title {
  font-family: 'EBGaramondRegular', serif;
  font-weight: regular;
  font-size: $basefont * 3;
  margin-bottom: $baseline;
  text-shadow: $claro 1px 2px;

  a {
    color: $rose;
  }

  small {
    font-size: $basefont * 2;
    color: $claro;
    text-shadow: none;
  }
}


@import 'application/*';

@import 'articles';
@import 'posts';
@import 'audios';
@import 'comments';
@import 'users';
@import 'smilies';
