.audio {

  .well {
    -webkit-border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
    padding: 5px 10px;

  }

  .downloads {

    span {
      margin-left: 20px;
      font-size: 0.90em;

      small {
        font-size: 0.75em;
        a {font-style: italic;}
      }

      &.popup {
        float: right;
      }

    }

  }


}

body.popup.audios-show {
  overflow: hidden;
  padding: 10px;
  background: asset-url('redtexture.jpg');

}

.flash-player {
  display: block;
  width: 520px;
  height: 40px;
}