.audio {

  .well {
    -webkit-border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
    padding: 5px 10px;

  }

  .downloads {

    span {
      margin-left: 20px;

      small {
        font-size: 0.75em;
        a {font-style: italic;}
      }

      &.popup {
        float: right;
      }

    }

  }


}

body.popup.audios-show {
  overflow: hidden;
  padding: 10px;
  background: asset-url('redtexture.jpg', image);

  .row {
    padding: 10px;
    background: $white;
    margin-left: 0px;

    .span9 {
      margin-left: 0px;
    }
  }
}
