.comment {
  overflow: hidden;

  .author {
    small {
      color: $claro;
      font-style: italic;
    }
  }

  .meta {

    .thumb {
      float:left;

      .counter {
        vertical-align: top;
      }
    }

    .action {
      float: right;

      span {
        margin-left: 20px;
      }
    }
  }
}

.comment-form{
  textarea{
    width: 410px;
  }
}

.admin {
  .comment.pending {
    background-color: lightYellow;
  }
  .comment.deleted {
    background-color: lighten($rose, 40%);
  }
}

.comment-help{
  border-top: 1px $claro solid;
  margin-top: 20px;
  font-size: 0.90 * $baseFontSize;
}