.comment {
  margin-bottom: $baseline * 0.5;
  padding-top: $baseline * 0.25;
  overflow: hidden;

  .author {
    small {
      font-size: 0.75 * $basefont;
      color: $claro;
      font-style: italic;
    }
  }

  .meta {
    border-top: 1px $claro solid;
    font-size: 0.75 * $basefont;
    margin-bottom: 0px;

    .thumb {
      float:left;
      height: 28px;
      .counter {
        vertical-align: top;
      }
    }

    .action {
      float: right;

      span {
        margin-left: 20px;
      }
    }
  }
}

.comment-form{
  textarea{
    width: 410px;
  }
}

.admin {
  .comment.pending {
    background-color: lightYellow;
  }
  .comment.deleted {
    background-color: lighten($rose, 40%);
  }
}

.comment-help{
  border-top: 1px $claro solid;
  margin-top: 20px;
  font-size: 0.90 * $basefont;

}