.comment {
  margin-bottom: $baseline;
  
  
  .author {
    small {
      font-size: 0.75 * $basefont;
      color: $claro;
      font-style: italic;
    }
  }
  
  .meta {
    border-top: 1px $claro solid;
    font-size: 0.75 * $basefont;
    
    > span {
      margin-right: 20px;
    }
  }
}

.admin {
  .comment.pending {
    background-color: lightYellow;
  }
}