.comment {
  margin-bottom: $baseline * 0.5;
  padding-top: $baseline * 0.5;

  .author {
    small {
      font-size: 0.75 * $basefont;
      color: $claro;
      font-style: italic;
    }
  }

  .meta {
    border-top: 1px $claro solid;
    font-size: 0.75 * $basefont;
    margin-bottom: 0px;

    > span {
      margin-right: 20px;
    }
  }
}

.comment-form{
  textarea{
    width: 410px;
  }
}

.admin {
  .comment.pending {
    background-color: lightYellow;
  }
  .comment.deleted {
    background-color: lighten($rose, 40%);
  }
}
