.comment {
  overflow: hidden;
  margin-bottom: $baseLineHeight*2;

  .author {
    @include clearfix();
    background: lighten($claro, 15);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: $baseLineHeight * 0.5;
    font-size: 0.75 * $baseFontSize;
  
    small {
      color: $claro;
      font-style: italic;
    }
  }
  
  .actions {
  
    .label {
      &.status-approved {
        background-color: $state-success-text;
      }
      &.status-pending,
      &.status-flagged {
        background-color: $state-warning-text;
      }
      &.status-deleted {
        background-color: $state-danger-text;
      }
    }
  
  }

}

.comment-form{
  textarea{
    width: 410px;
  }
}

.admin {
  .comment {
    &.neutral .author,
    &.approved .author {
      background-color: $state-success-text;
      
      a {
        color: white;
      }
    }
    
    &.pending .author,
    &.flagged .author {
      background-color: $state-warning-text;
    }
    
    &.deleted .author {
      background-color: $state-danger-text;
      
      a {
        color: white;
      }
    }
  
  }
}

  
  .opinions-popover {
    
    .popover-content{
      height: 150px;
      overflow: auto;
    }
 
    .opinion {
      font-size: $baseFontSize*0.75;
      margin-bottom: $baseLineHeight*0.25;
      
      & > * {
        margin-right: 10px;
      }
      
      img {
        width: 20px;
        height: 20px;
        border-radius: 5px;
      }
    }
  
  }
  
.comment-help{
  border-top: 1px $claro solid;
  margin-top: 20px;
  font-size: 0.90 * $baseFontSize;
}