.comment {
  overflow: hidden;
  margin-bottom: $baseLineHeight*2;

  .author {
    @include clearfix();
    background: lighten($claro, 15);
    @include border-radius(5px);
    padding: 5px 10px;
    margin-bottom: $baseLineHeight * 0.5;
    font-size: 0.75 * $baseFontSize;
  
    small {
      color: $claro;
      font-style: italic;
    }
  }
  
  .actions {
  
    .label {
      &.status-approved {
        background-color: $successText;
      }
      &.status-pending,
      &.status-flagged {
        background-color: $warningText;
      }
      &.status-deleted {
        background-color: $errorText;
      }
    }
  
  }

}

.comment-form{
  textarea{
    width: 410px;
  }
}

.admin {
  .comment {
    &.neutral .author,
    &.approved .author {
      background-color: $successText;
      
      a {
        color: white;
      }
    }
    
    &.pending .author,
    &.flagged .author {
      background-color: $warningText;
    }
    
    &.deleted .author {
      background-color: $errorText;
      
      a {
        color: white;
      }
    }
  
  }
}

.comment-help{
  border-top: 1px $claro solid;
  margin-top: 20px;
  font-size: 0.90 * $baseFontSize;
}