.post {
  margin-bottom: $baseLineHeight*2;
  
  .share {
    .socialite {
      display: block;
      font-size: 0em;
    }
    .twitter .socialite {
      background: image-url('btn-twittear.png') left top no-repeat;
      width: 92px;
      height: 20px;
    }
    .facebook .socialite {
      background: image-url('btn-like.png') left top no-repeat;
      width: 97px;
      height: 20px;
    }
    .gplus .socialite {
      background: image-url('btn-googleplus.png') left top no-repeat;
      width: 97px;
      height: 20px;
    }
    
    .socialite-loaded {
      background: none !important;
    }
  }
  
  .actions {
  
    .label {
      &.status-published {
        background-color: $successText;
      }
      &.status-draft,
      &.status-pending,
      &.status-waiting {
        background-color: $warningText;
      }
      &.status-deleted {
        background-color: $errorText;
      }
    }
  
  }
  
  .audios {
    .audio {
      margin-bottom: $baseLineHeight;

      .jp-current-time {
        font-family: Verdana,Arial,sans-serif;
        font-size: 11px;
      }
    }
  }

  .content {

    * {
      line-height: $baseLineHeight;
      font-size: $baseFontSize;
    }

    li {
      color: $gris;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: $baseLineHeight / 2;
    }

  }

  .share {
    @include clearfix();
    margin-bottom: $baseLineHeight*0.5;
    background: lighten($claro, 15);
    padding: 10px;
    font-size: $baseFontSize*0.75;
  
    & > * {
      float: left;
      margin-right: 10px;
      height: 20px;
      vertical-align: middle;
    }
    
    em {
      margin-right: 20px;
    }
    
    .twitter {
    }
    
    .facebook {
      iframe { width: 135px; }
    }
  }

}

.posts-show {

  .post-nav {
    margin-bottom: $baseLineHeight;

    .prev-post, .next-post {
      font-size: 0.70 * $baseFontSize;
    }

    .next-post {
      text-align: right;
    }

  }

  .post{
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
  }

  .comment .where {
    display: none;
  }

}

.posts-edit,
.posts-index {
  .label {
    &.post-status-published {
      background-color: $successText;
    }
    &.post-status-draft,
    &.post-status-pending {
      background-color: $warningText;
    }
    &.post-status-waiting {
      background-color: $infoText;
    }
    &.post-status-deleted {
      background-color: $errorText;
    }
  }
}