.post {
  margin-bottom: $baseLineHeight*2;
  
  .audios {
    .audio {
      margin-bottom: $baseLineHeight;

      .jp-current-time {
        font-family: Verdana,Arial,sans-serif;
        font-size: 11px;
      }
    }
  }

  .content {

    * {
      line-height: $baseLineHeight;
      font-size: $baseFontSize;
    }

    li {
      color: $gris;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: $baseLineHeight / 2;
    }

  }

  .share {
    @include clearfix();
    margin: $baseLineHeight*0.5 0;
    background: lighten($claro, 15);
    padding: 10px;
    font-size: $baseFontSize*0.75;
  
    & > * {
      float: left;
      margin-right: 10px;
      height: 20px;
      vertical-align: middle;
    }
    
    em {
      margin-right: 20px;
    }
    
    .twitter {
    }
    
    .facebook {
      iframe { width: 135px; }
    }
  }

  footer {
    @include clearfix();

    font-size: 0.75 * $baseFontSize;
    
    .pull-right {
      margin-left: 20px;
    }
  }

}

.posts-show {

  .post-nav {
    margin-bottom: $baseLineHeight;

    .prev-post, .next-post {
      font-size: 0.70 * $baseFontSize;
    }

    .next-post {
      text-align: right;
    }

  }

  .post{
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
  }

  .comment .where {
    display: none;
  }

}
