.smiley {
  height: 15px;
  width: 15px;
  color: transparent;
  display: inline-block;

  &.mrgreen{
    background: asset-url('smilies/icon_mrgreen.gif') no-repeat;
  }
  &.neutral{
    background: asset-url('smilies/icon_neutral.gif') no-repeat;
  }
  &.twisted{
    background: asset-url('smilies/icon_twisted.gif') no-repeat;
  }
  &.arrow{
    background: asset-url('smilies/icon_arrow.gif') no-repeat;
  }
  &.eek{
    background: asset-url('smilies/icon_eek.gif') no-repeat;
  }
  &.smile{
    background: asset-url('smilies/icon_smile.gif') no-repeat;
  }
  &.confused{
    background: asset-url('smilies/icon_confused.gif') no-repeat;
  }
  &.cool{
    background: asset-url('smilies/icon_cool.gif') no-repeat;
  }
  &.evil{
    background: asset-url('smilies/icon_evil.gif') no-repeat;
  }
  &.biggrin{
    background: asset-url('smilies/icon_biggrin.gif') no-repeat;
  }
  &.idea{
    background: asset-url('smilies/icon_idea.gif') no-repeat;
  }
  &.redface{
    background: asset-url('smilies/icon_redface.gif') no-repeat;
  }
  &.razz{
    background: asset-url('smilies/icon_razz.gif') no-repeat;
  }
  &.rolleyes{
    background: asset-url('smilies/icon_rolleyes.gif') no-repeat;
  }
  &.wink{
    background: asset-url('smilies/icon_wink.gif') no-repeat;
  }
  &.cry{
    background: asset-url('smilies/icon_cry.gif') no-repeat;
  }
  &.surprised{
    background: asset-url('smilies/icon_surprised.gif') no-repeat;
  }
  &.lol{
    background: asset-url('smilies/icon_lol.gif') no-repeat;
  }
  &.mad{
    background: asset-url('smilies/icon_mad.gif') no-repeat;
  }
  &.sad{
    background: asset-url('smilies/icon_sad.gif') no-repeat;
  }
  &.exclaim{
    background: asset-url('smilies/icon_exclaim.gif') no-repeat;
  }
  &.question{
    background: asset-url('smilies/icon_question.gif') no-repeat;
  }
}
