.user {
  margin-bottom: $baseLineHeight*2;
}

.users-edit {
  .label {
    &.user-role-admin {
      background-color: $state-success-bg;
    }
    &.user-role-editor,
    &.user-role-moderator {
      background-color: $state-warning-bg;
    }
  }
}