<p>¡Hola <%= @resource.alias %> &lt;<%= @email %>&gt;!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te estamos contactando para avisarte de que tu dirección de email cambió a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te estamos contactando para avisarte de que tu dirección de email cambió a <%= @resource.email %>.</p>
<% end %>
