<p>¡Hola <%= @resource.alias %> &lt;<%= @email %>&gt;!</p>

<p>Alguien pidió resetear tu contraseña, podés hacerlo a través del link a siguiente:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no fuiste vos quien pidió esto, por favor ignorá este email.</p>
<p>Tu contraseña no será cambiada hasta que no accedas al link anterior y elijas una nueva.</p>
