%p
  Hola #{@resource.alias}!
%p Alguien pidió resetear tu contraseña, podés hacerlo a través del link a continuación.
%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Si no fuiste vos quien pidió esto, por favor ignorá este email.
%p Tu contraseña no será cambiada hasta que no accedas al link anterior y elijas una nueva.
