<p>¡Hola <%= @resource.alias %> &lt;<%= @email %>&gt;!</p>

<p>Tu cuenta fue bloqueada por excesivos intentos erróneos de acceso.</p>

<p>Hacé click en el siguiente link para desbloquearla:</p>

<p><%= link_to 'Desbloquear cuenta', unlock_url(@resource, unlock_token: @token) %></p>
