- page_title("Editando Usuario")

.fancy Administración de Usuarios

%h2.title
  Editando Usuario ##{@user.id}

.actions
  -if @user.role?
    %span.label{ :class => "user-role-#{@user.role}"}= @user.role.capitalize
    
  = link_to @user, :target => '_blank' do
    %i.icon-user
    Ver Perfil

= render 'form', :user => @user
