- page_title("Editando Usuario")

.ribbon Administración de Usuarios

= render 'pills'

%h2.title
  Editando Usuario ##{@user.id}
  %small= link_to "Ver perfil", @user, :target => '_blank'

= render 'form', :user => @user
