- page_title("Listado de Usuarios")

.ribbon Administración de Usuarios

%h2.title= html_page_title

- if @users.empty?
  %p No se han encontrado usuarios
-else
  %table
    %thead
      %tr
        %th #
        %th Nombre
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.alias
          %td
            =link_to "Permalink", user, :target => '_blank'
            =link_to "Editar", edit_admin_user_path(user)

  = paginate @users
