- page_title("Listado de Usuarios")

.fancy Administración de Usuarios

%h2.title= html_page_title

- if @users.empty?
  %p No se han encontrado usuarios
-else
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Nombre
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.alias
          %td.actions
            =link_to user, :target => '_blank' do
              %i.icon-user
              Perfil
            =link_to edit_admin_user_path(user) do
              %i.icon-edit
              Editar

  = paginate @users
