.row.mini-activity
  .span1.avatar
    =image_tag('http://placehold.it/40x40')
  .span9.description
    %span.who
      =link_to "jorgito", "#"
    %span.verb
      comentó
    %span.what
      =link_to "Programa del 25 de Noviembre", "#"
