- page_title('403 - Acceso denegado')

.fancy
  ¡Alto ahí, compadrito!

%h2.title
  403 - Acceso Denegado

%p
  Para acceder al lugar solicitado es necesario estar registrado y haber iniciado sesión.

%p
  En algunos casos también es necesario que el administrador te haya asignado los permisos correspondientes.
  Si creés que deberías poder acceder, ponete en contacto con el administrador para
  que te dé el nivel de acceso necesario.
