- page_title('403 - Acceso denegado')

%h2.fancy-title
  403 - Acceso denegado

%p
  Estás tratando de acceder a una página para la cual no tenés suficientes permisos.
%p
  Si creés que deberías poder acceder, ponete en contacto con el administrador para
  que te dé el nivel de acceso necesario.