- page_title('404 - Página inexistente')

%h2.title
  404 - Página Inexistente

%p
  Estás tratando de acceder a una página que no existe en este sitio.
%p
  Revisá la dirección para ver si la escribiste accidentalmente mal o usá
  el menú o el buscador para encontra la página que buscabas.
