<% page_title('404 - Página no encontrada') %>
<h2 class="title fancy is-4">
  404 - Página Inexistente
</h2>
<h2 class="title">
  Página no encontrada
</h2>
<p>Estás tratando de acceder a una página que no existe en este sitio.</p>
<p>Revisá la dirección para ver si la escribiste accidentalmente mal o usá el menú o el buscador para encontra la página que buscabas.</p>