<footer class="section footer">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <h3 class="title is-4">Último Programa</h3>
        <h4 class="title is-5"><a href="/posts/la-venganza-sera-terrible-del-20-03-2020">La venganza será
            terrible del 20/03/2020</a></h4>
      </div>
      <div class="column">
        <h3 class="title is-4">Más Venganzas</h3>
        <div class=content>
          <ul>
            <li>
              <a href="/posts">Programas Recientes</a>
              <a href="/posts.rss">(RSS)</a>
            </li>
            <li>
              <a href="https://venganzasdelpasado.com.ar/torrents">Torrents</a>
              <a href="https://venganzasdelpasado.com.ar/torrents.rss">(RSS)</a>
            </li>
            <li>
              <a href="/posts/new">Subir programas viejos</a>
            </li>
            <li>
              <a href="/contributions">Últimas contribuciones</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column">
        <h3 class="title is-4">Ayuda</h3>
        <div class=content>

          <ul>
            <li><a href="/articles/acerca-de-este-sitio">Acerca de este sitio</a></li>
            <li><a href="/articles/ayuda">Preguntas Frecuentes</a></li>
            <li><a href="/articles/como-se-graba-el-programa">Cómo funciona VdP</a></li>
            <li><a href="/articles/markdown">Estilos en Comentarios</a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <h3 class="title is-4">Sitios amigos</h3>
        <div class=content>
          <ul>
            <li><a href="https://papelmineral.com.ar/">Papel Mineral Argentina</a></li>
            <li><a href="https://czerny.me/">Czerny-Germer - Estudios para piano Vol. 2</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>