<script data-ad-client="ca-pub-9541275144173875" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YSLQE8H92V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-YSLQE8H92V');
</script>

<script defer data-domain="venganzasdelpasado.com.ar" src="https://pl.jps.ar/js/script.js"></script>