%header{:class => (current_page?(:root) ? 'home' : 'internal')}
  .container
    - if current_page?(:root)
      .row
        .span14.title-container
          %h1
            =link_to "Venganzas del Pasado", :root
      .row
        .span14.slogan
          %p
            Encontr치 todos los archivos de audio en MP3 del programa de radio <em>La Venganza Ser치 Terrible</em> de <strong>Alejandro Dolina</strong>
    - else
      .row
        .span4.title-container
          %h1
            =link_to "Venganzas del Pasado", :root
        .span10.slogan
          %p
            Encontr치 todos los archivos de audio en MP3 del programa de radio <em>La Venganza Ser치 Terrible</em> de <strong>Alejandro Dolina</strong>


.subheader
  .container
    .row
      .span14
        = render 'layouts/banners/b728x90'
