%header#header{:class => (current_page?(:root) ? 'home' : 'internal')}
  .container
    - if current_page?(:root)
      .row
        .col-md-12.title-container
          = link_to image_tag('splash.png', class: "img-responsive"), :root, title: "Vengazas del Pasado"
      .row
        .col-md-12.slogan
          %p
            Encontr치 todos los archivos de audio en MP3 del programa de radio <em>La Venganza Ser치 Terrible</em> de <strong>Alejandro Dolina</strong>
    - else
      .row
        .col-md-3.title-container
          = link_to image_tag('splash-small.png', class: "img-responsive"), :root, title: "Vengazas del Pasado"
        .col-md-9.slogan
          %p
            Encontr치 todos los archivos de audio en MP3 del programa de radio <em>La Venganza Ser치 Terrible</em> de <strong>Alejandro Dolina</strong>
