<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        Venganzas del Pasado
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item is-active">
          Home
        </a>
        <a class="navbar-item">
          Programas recientes
        </a>
        <a class="navbar-item">
          Ayuda
        </a>
        <a class="navbar-item">
          Administración
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <img src="//graph.facebook.com/10155029354088636/picture" alt="Picture">
            Juan Schwindt
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Mi Perfil
            </a>
            <a class="navbar-item">
              Preferencias
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Cerrar Sesión
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>