.banner-160
  - if Rails.env.production?
    %ins{ "class" => "adsbygoogle",
          "style" => "display:block",
          "data-ad-client" => "ca-pub-9541275144173875",
          "data-ad-slot" => "7254085490",
          "data-ad-format" => "auto",
    }
    %script
      (adsbygoogle = window.adsbygoogle || []).push({});
