.banner-160
  - if Rails.env.production?
    / BEGIN JS TAG - venganzasdelpasado_160x600 < - DO NOT MODIFY
    %script{ :type => "text/javascript", :src => "http://ib.adnxs.com/ttj?id=2776922&referrer=venganzasdelpasado.com.ar" }
    / END TAG
  - else
    =image_tag('http://placehold.it/160x600/')
