.banner-200
  - if Rails.env.production?
    :javascript
      google_ad_client = "ca-pub-9541275144173875";
      google_ad_slot = "3711963731";
      google_ad_width = 200;
      google_ad_height = 200;
    %script{ :type => "text/javascript", :src => "http://pagead2.googlesyndication.com/pagead/show_ads.js" }
  - else
    =image_tag('http://placehold.it/200x200/')
