.banner-468
  - if Rails.env.production?
    / BEGIN JS TAG - venganzasdelpasado_468x60 < - DO NOT MODIFY
    %script{ :type => "text/javascript", :src => "http://ib.adnxs.com/ttj?id=2776917&referrer=venganzasdelpasado.com.ar" }
    / END TAG
  - else
    =image_tag('http://placehold.it/468x60/')
