.banner-728
  - if Rails.env.production? || Rails.env.development?
    %script{ async: true, :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" }
    %ins{ "class" => "adsbygoogle",
          "style" => "display:block",
          "data-ad-client" => "ca-pub-9541275144173875",
          "data-ad-slot" => "5454451495",
          "data-ad-format" => "horizontal",
    }
    %script
      (adsbygoogle = window.adsbygoogle || []).push({});
  - else
    =image_tag('http://placehold.it/728x90/')
