.banner-728
  - if Rails.env.production?
    / BEGIN JS TAG - venganzasdelpasado_728x90 < - DO NOT MODIFY
    %script{ :type => "text/javascript", :src => "http://ib.adnxs.com/ttj?id=2776908&referrer=venganzasdelpasado.com.ar" }
    /END TAG
  - else
    =image_tag('http://placehold.it/728x90/')
