#header {
  padding-top: 20px;
  background: $redBackground;

  .title-container {

    h1, span{
      display: block;
      font-size: 0;
      height: 100%;
      width: 100%;

      a {
        display: block;
        font-size: 0;
        height: 100%;
        width: 100%;
      }
    }
  }

  .slogan p {
    font-family: 'EBGaramondRegular', serif;
    color: $black;
    text-align: center;
  }

  &.home {

    .title-container {
      img {
        margin: auto;
      }
    }

    .slogan p {
      font-size: 1.8em;
      margin-bottom: 20px;
    }

  }

  &.internal {

    padding-bottom: 10px;

    .title-container {
      img {
        margin: auto;
      }
    }

    .slogan p {
      font-size: 1.8em;
      line-height: 1.2em;
    }

  }
}

#subheader {
  padding-top: 10px;
  padding-bottom: 10px;
  background: $gris;
}