.banner-728 {
  text-align: center;
  background-color: $gris;
  padding: 5px;
}

.banner-468 {
  text-align: center;
  padding: $baseline 0px;
}

#sidebar {
  font-size: $basefont * 0.75;

  li.divider {
    display: none;
  }

  .ribbon {
    background: $gris;
    padding: $baseline*0.25 $gridGutterWidth;
    $shadow: 0 1px 3px rgba(0,0,0,1), inset 0 -1px 0 rgba(0,0,0,.1);
    @include box-shadow($shadow);
    font-family: $defaultFontFamily;
    font-weight: normal;
    font-size: $basefont;
    text-shadow: none;
  }
}

.widget {
  margin-bottom: $baseline;

  .twtr-tweet-text p {
    font-family: serif;
    font-size: $basefont * 0.75;
    color: lighten($gris, 20)
  }

  .archive.monthly {
    .months {
      display: none;
    }
  }

  .archive.daily {

    td {
      font-size: 0.75 * $basefont;
      padding: 0;
    }

    th {
      padding: 0;
    }

    .notmonth { color: $claro }
    .future { color: $claro }
    .today { font-weight: bold; }

  }
}
