#topbar {

  .brand {
    display: none;
  }

  .btn-navbar {
    float: left;
  }
  
  .login-dropdown{
  
    .btn-facebook-login {
      @include buttonBackground(#3B5998, darken(#3B5998, 10));
    }
  
    .dropdown-menu {
      padding: 0px;
      
      div.account-tools {
        padding-top: 5px;
      
        & > a {
          display: inline;
          padding: 0px;
          float: none;
          clear: none;
        }
      }
    }
    
   li {
      padding: 20px;
     
      form {
        margin-bottom: 0;
      
        .btn {
          width: 100%;
        }
      }
    } 
    
  }

  .avatar img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: top;
  }

}

.topbar-inner, .topbar .fill {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0); // IE9 and down
}