%footer
  .container
    .row
      .span3
        %ul
          = render 'layouts/menus/about_items'
      .span3
        %ul
          = render 'layouts/menus/main_items'
      .span3.offset4
        = render 'layouts/banners/b200x200'
