%footer
  .container
    .row
      .span3
        = render 'layouts/menus/about'
      .span3
        = render 'layouts/menus/main'
      .span3
        = render 'layouts/menus/user'
      .span3.offset1
        = render 'layouts/banners/b200x200'
