#sidebar
  .widget
    = render 'layouts/menus/main'
  .widget
    = render 'layouts/banners/b160x600'
  .widget
    = render 'layouts/widgets/facebook'
  .widget
    = render 'layouts/widgets/twitter'
