/ :javascript
/   google_ad_client = "pub-9541275144173875";
/   /* 728x90, created 9/1/08 */
/   google_ad_slot = "2480710290";
/   google_ad_width = 728;
/   google_ad_height = 90;
/ %script{:type => "text/javascript", :src => "http://pagead2.googlesyndication.com/pagead/show_ads.js" } /
&nbsp;Banner 728x90